@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor {
  min-height: 200px;
}

@media (min-width: 30em) {
  .filepond--item {
    width: calc(50% - 0.5em);
  }
}

@media (min-width: 50em) {
  .filepond--item {
    width: calc(20% - 0.5em);
  }
}

.v-popper__inner {
  font-size: 0.75rem;
}

@font-face {
  font-family: 'VAZIR';
  src: url('./fonts/Vazir.ttf');
}
@font-face {
  font-family: 'VAZIR';
  src: url('./fonts/Vazir.woff') format('woff');
}

@font-face {
  font-family: 'VAZIR';
  src: url('./fonts/Vazir.woff2') format('woff2');
}
@font-face {
  font-family: 'VAZIR';
  src: url('./fonts/Vazir.eot') format('eot');
}

body {
  font-family: 'VAZIR';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'VAZIR';
}
